/* MOBILE FIRST */

:root {
    --body-color: grey;
    --webapp-bg: lightgray;
    --chat-color: yellow;
    --user-color: blue;
    --section-view: 1px solid black;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;

}

/* COMMON */
body {
    background-color: var(--body-color);
    height: 100vh;
    display: flex;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    background-color: var(--webapp-bg);
    width: 100%;
    height: 100%;
}

.window {
    display: flex;
    height: 100%;
}

.chat-window {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.user {
    background-color: var(--user-color);
    width: 100%;
    height: 100%;
    display: none;
}

.preview,
.search,
.notfications,
.options {
    display: none;
}

.options {
    border: var(--section-view);
    height: 70px;
}

.notifications {
    border: var(--section-view);
    height: 80px;
}

.search {
    border: var(--section-view);
    height: 45px;
    padding: 5px;
}

.search-bar {
    width: 100%;
    height: 100%;
}


.chat {
    background-color: var(--chat-color);
    width: 100%;
}

.user-data,
.insert {
    border: var(--section-view);
    height: 70px;
    width: 100%;
}

.messages {
    border: var(--section-view);
    height: calc(100% - 140px);
    width: 100%;
    overflow-y: scroll;
}

.user-window {
    height: 100%;
}

.user-chat {
    border: var(--section-view);
    height: 70px;
}

.card {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.sent {
    width: 70%;
    border-radius: 10px;
    background-color: lightgreen;
    padding: 15px 10px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-right: 25px;
    align-self: self-end;
}

.received {
    width: 70%;
    border-radius: 10px;
    background-color: rgb(245, 236, 236);
    padding: 15px 10px;
    font-size: 16px;
    margin-left: 25px;
}

/* RESPONSIVE */

@media screen and (min-width:576px) {

    .user {
        background-color: var(--user-color);
        width: 100px;
        display: block;
    }

    .chat {
        background-color: var(--chat-color);
        width: 100%;
    }

    .chat-list {
        height: calc(100% - 70px);
    }
}

@media screen and (min-width:768px) {

    .container {
        width: 80%;
        height: 90%;
        margin: auto;
    }

    .user {
        background-color: var(--user-color);
        width: 500px;
    }

    .chat {
        background-color: var(--chat-color);
        width: 100%;
    }

    .preview,
    .search,
    .notfications,
    .options {
        display: block;
    }

    .chat-list {
        width: 100%;
        height: calc(100% - 195px);
        overflow-y: scroll;
    }

}

@media screen and (min-width:1200px) {

    .container {
        max-width: 1320px;
    }

}